---
layout: default
controllerjs: users
auth: auth
mixins: header-mixin
---

<div class="page-content">

<transition name="fade">

    <div id="userManagement"  v-if="activeUser == null">
        <div class="mdl-grid" >

          <a href="/omk/pages/forms/" class="backLink">
                < Back to forms page
            </a>

            <div class="editButotn" style="float: right;">
                  <ui-fab
                      icon="mode_edit"
                      size="normal"
                      class="save"
                      :class= "{'activeSave': editMode}"
                      v-if='!editMode'
                      @click="toggleEditMode()"
                  ></ui-fab>

                  <ui-fab
                        icon="mode_edit"
                        size="normal"
                        class="save activeSave"
                        v-else
                        @click="updateUserDetails()"
                    >save</ui-fab>

                </div>

            <div class="section header">
                <h3>User Management</h3>
            </div>
            <div class="section inputs">
                <button class="mdl-button mdl-button--colored mdl-js-button addUserButton" id="menu-lower-left"
                @click="addUser()">
                  <i class="material-icons">person_add</i> ADD USER
                </button>
                  <div class="search">
                  <ui-textbox
                      icon="search"
                      icon-position="right"
                      floating-label
                      label="Search"
                      placeholder="search user"
                      v-model="searchQuery"
                  ></ui-textbox>
                  </div>

            </div>
            <div class="section table">

                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%" >
                  <thead>
                    <tr v-if="tableHeader">
                      <th v-for='h in tableHeader'>[{formatHeader(h)}]</th>
                      <th v-show="editMode"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="data in filteredData">
                       <template>

                          <td v-for="header in tableHeader">

                            <span v-if="header === 'admin'">
                              <i class="material-icons" v-if="data[header]">done</i>
                            </span>
                            <span v-else-if="header === 'read'">
                              <i class="material-icons" v-if="data[header]">done</i>
                            </span>
                            <span v-else-if="header === 'write'">
                              <i class="material-icons" v-if="data[header]">done</i>
                            </span>
                            <span v-else-if="header === 'username'" @click="getUserDetails(data['id'])" class="userLink">
                              [{data[[header]]}]
                            </span>
                            <span v-else>
                              [{data[[header]]}]
                            </span>

                          </td>
                          <td class="trashcan" v-show="editMode">
                            <i class="material-icons" @click="deleteUserDialog(data['id'])"
                            v-if="user.id !== data.id">delete</i>
                          </td>
                       </template >
                    </tr>
                  </tbody>
                </table>

            </div>
        </div>
        <!-- Enketo Dialog -->
      <dialog id="addUser-dialog" class="mdl-dialog">

          <div v-if="!userAdded">
              <h6 class="mdl-dialog__title">
                <i class="material-icons">person_add</i> Add user
              </h6>
              <div class="mdl-dialog__content">

                  <ui-textbox
                      floating-label
                      label="Username"
                      type="text"
                      placeholder="Enter your username"
                      :value="ifNullReturnEmptyString(newUser.username)"
                      v-model="newUser.username"
                  ></ui-textbox>
                  <ui-textbox
                      floating-label
                      label="Password"
                      type="text"
                      placeholder="Enter your password"
                      :value="ifNullReturnEmptyString(newUser.password)"
                      v-model="newUser.password"
                  ></ui-textbox>
                  <ui-textbox
                      floating-label
                      label="First Name"
                      type="text"
                      placeholder="Enter your first name"
                      :value="ifNullReturnEmptyString(newUser.first_name)"
                      v-model="newUser.first_name"
                  ></ui-textbox>
                  <ui-textbox
                      floating-label
                      label="Last Name"
                      type="text"
                      placeholder="Enter your last name"
                      :value="ifNullReturnEmptyString(newUser.last_name)"
                      v-model="newUser.last_name"
                  ></ui-textbox>
                  <ui-textbox
                      floating-label
                      label="Email"
                      type="text"
                      placeholder="Enter your email"
                      :value="ifNullReturnEmptyString(newUser.email)"
                      v-model="newUser.email"
                  ></ui-textbox>

                  <div class="perm">Permissions:</div>

                  <div>


                  <ui-radio-group
                      name="options"
                      vertical
                      :options="formOptions"
                      v-model="selectedFormRole"
                  ></ui-radio-group>

                  </div>

              </div>
              <div class="mdl-dialog__actions">
                  <a>
                      <button type="button" class="mdl-button mdl-js-button modalButton" @click="createNewUser()"
                      :disabled="!validateUserFrom">SUBMIT</button>
                  </a>
                  <button type="button" class="mdl-button mdl-js-button modalButton" @click="closeDialog()">CANCEL</button>
              </div>

          </div>
          <div v-else="userAdded">

            <h6 class="mdl-dialog__title">
                <i class="material-icons">person_add</i> Added user
              </h6>
              <div class="mdl-dialog__content">
                <p>The new user has been added.</p>
              </div>
              <div class="mdl-dialog__actions">
                  <button type="button" class="mdl-button mdl-js-button closeDial" @click="closeDialog()">Close</button>
              </div>

          </div>

      </dialog>
    </div>

  </transition>

<transition name="fade">
    <div id="activeUser" v-if="activeUser != null">

      <div class="mdl-grid" >

            <span class="backLink" @click="removeActiveUser">
                < Back to user management
            </span>
            <div class="editButotn" style="float: right;">
                    <ui-fab
                        icon="mode_edit"
                        size="normal"
                        class="save"
                        v-if='!editMode'
                        @click="toggleEditMode()"
                    ></ui-fab>

                    <ui-fab
                        icon="mode_edit"
                        size="normal"
                        class="save activeSave"
                        v-else
                        @click="updateUserDetails()"
                    >save</ui-fab>
                </div>

            <div class="section header">
                <h3>User account: [{activeUser.username}]</h3>
            </div>
            <div class="section inputs" v-if="activeUser != null">

                  <ui-textbox
                      label="First Name"
                      type="text"
                      :value="ifNullReturnEmptyString(activeUser.first_name)"
                      v-model="activeUser.first_name"
                      :disabled="!editMode"
                      :class="{'is-active' : isFocused}"
                  ></ui-textbox>

                  <ui-textbox
                      label="Last Name"
                      :value="ifNullReturnEmptyString(activeUser.last_name)"
                      v-model="activeUser.last_name"
                      :disabled="!editMode"
                      :class="{'is-active' : isFocused}"
                  ></ui-textbox>
                  <ui-textbox
                      label="Email"
                      :value="ifNullReturnEmptyString(activeUser.email)"
                      v-model="activeUser.email"
                      :disabled="!editMode"
                      :class="{'is-active' : isFocused}"
                  ></ui-textbox>

            </div>
            <div class="section">
            <div>
            <h3 style="margin-bottom: 35px;" v-show="activeUser.formPermissions.length > 0">Forms:</h3>
            </div>
              <span style="font-weight: 200; color: #2e2e2e;" v-show="activeUser.formPermissions.length > 0">List of survey forms this user is assigned to:</span>
              <button class="mdl-button mdl-button--colored mdl-js-button addForm" id="menu-lower-left"
                @click="addForm()" style="float: right;"
                v-if="activeUser.role === 'write'">
                  <i class="material-icons">add</i> ADD FORM
                </button>
            </div>

            <div class="section table" v-show="activeUser.formPermissions.length > 0">

              <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%" >
                  <thead>
                    <tr v-if="tableHeader">
                      <th>Form title</th>
                      <th>Admin</th>
                      <th>Write</th>
                      <th>Read</th>
                      <th v-show="user.role !== 'admin' && editMode"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(form, index) in orderedFormPermissions">
                       <template>

                       <td>
                         [{form.form_id}]
                       </td>
                       <td :class= "{'editMode': editMode}">
                         <div v-if="activeUser.role === 'admin' || !editMode">
                           <i class="material-icons" v-if="form.role === 'admin'">done</i>
                         </div>
                         <div v-else>
                            <i class="material-icons" v-if="form.role === 'admin'" @click="setOthersToFalse(form, 'admin')">check_box</i>
                            <i class="material-icons" v-else @click="setOthersToFalse(form, 'admin')">check_box_outline_blank</i>
                         </div>

                       </td>
                       <td :class= "{'editMode': editMode}">
                          <div v-if="activeUser.role === 'admin' || !editMode">
                            <i class="material-icons" v-if="form.role === 'write'">done</i>
                          </div>
                          <div v-else>

                            <i class="material-icons" v-if="form.role === 'write'" @click="setOthersToFalse(form, 'write')">check_box</i>
                            <i class="material-icons" v-else @click="setOthersToFalse(form, 'write')">check_box_outline_blank</i>
                          </div>
                       </td>
                       <td :class= "{'editMode': editMode}">
                          <div v-if="activeUser.role === 'admin' || !editMode">
                            <i class="material-icons" v-if="form.role === 'read'">done</i>
                          </div>
                          <div v-else>
                            <i class="material-icons" v-if="form.role === 'read'" @click="setOthersToFalse(form, 'read')">check_box</i>
                            <i class="material-icons" v-else @click="setOthersToFalse(form, 'read')">check_box_outline_blank</i>
                          </div>

                       </td :class= "{'editMode': editMode}">

                          <td class="trashcan" v-show="activeUser.role !== 'admin' && editMode">
                          <i class="material-icons" @click="deleteDialog(form.form_id)" v-show="editMode">delete</i></td>
                       </template >
                    </tr>
                  </tbody>
                </table>


            </div>

      </div>

    </div>
</transition>

<dialog id="addForm-dialog" class="mdl-dialog">

          <div v-show="!formAdded">
              <h6 class="mdl-dialog__title">
                <i class="material-icons">add</i> Add form
              </h6>
              <div class="mdl-dialog__content">

                  <ui-select
                      label="Forms:"
                      placeholder="Select a form"
                      :options="formList"
                      v-model="selectedForm"
                      :keys="{ label: 'form_id', value: 'form.form_id' }"
                  ></ui-select>

                  <div class="perm">Permissions:</div>

                  <div>

                  <ui-radio-group
                      name="options"
                      vertical
                      :options="formOptions"
                      v-model="selectedFormRole"
                  ></ui-radio-group>
                  </div>

              </div>
              <div class="mdl-dialog__actions">
                  <a>
                      <button type="button" class="mdl-button mdl-js-button modalButton" @click="createNewFormAssignment()"
                      :disabled="!selectedForm">SUBMIT</button>
                  </a>
                  <button type="button" class="mdl-button mdl-js-button modalButton" @click="closeAddFormDialog()">CANCEL</button>
              </div>

          </div>
          <div v-show="formAdded">

            <h6 class="mdl-dialog__title">
                <i class="material-icons">add</i> Added Form
              </h6>
              <div class="mdl-dialog__content">
                <p>The new form has been added to user.</p>
              </div>
              <div class="mdl-dialog__actions">
                  <button type="button" class="mdl-button mdl-js-button closeDial" @click="closeDialog()">Close</button>
              </div>

          </div>

      </dialog>


      <dialog id="deleteForm-dialog" class="mdl-dialog">

          <div v-if="activeUser != null">
              <h6 class="mdl-dialog__title">
                <i class="material-icons">minus</i> Delete form
              </h6>
              <div class="mdl-dialog__content">
              </div>
              <div class="mdl-dialog__actions">
                  <a>
                      <button type="button" class="mdl-button mdl-js-button modalButton" @click="deleteFormAssigment()"
                      >YES</button>
                  </a>
                  <button type="button" class="mdl-button mdl-js-button modalButton" @click="closeDeleteDialog()">CANCEL</button>
              </div>

          </div>

      </dialog>

      <dialog id="deleteUser-dialog" class="mdl-dialog">

          <div>
              <h6 class="mdl-dialog__title">
                <!-- <i class="material-icons">minus</i> -->
                Delete user
              </h6>
              <div class="mdl-dialog__content">

              </div>
              <div class="mdl-dialog__actions">
                  <a>
                      <button type="button" class="mdl-button mdl-js-button modalButton" @click="deleteUser()"
                      >YES</button>
                  </a>
                  <button type="button" class="mdl-button mdl-js-button modalButton" @click="closeDeleteUserDialog()">CANCEL</button>
              </div>

          </div>

      </dialog>

</div>


<link rel="stylesheet" href="../css/users.scss">
<link rel="stylesheet" href="../css/dialog-polyfill.css">