---
layout: default
controllerjs: users
auth: auth
mixins: header-mixin
---

<div class="page-content">

    <div id="userManagement">

        <div class="mdl-grid" >

            <a href="/omk/pages/forms/" class="backLink">
                < Back to forms page
            </a>
            <div class="section header">
                <h3>User Management</h3>
            </div>
            <div class="section inputs">
                <button class="mdl-button mdl-button--colored mdl-js-button" id="menu-lower-left"
                @click="addUser()">
                  <i class="material-icons">person_add</i> ADD USER
                </button>

                  <div class="search mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="searchQuery" id="searchQuery" v-model="searchQuery">
                    <label class="mdl-textfield__label" for="searchQuery">search</label>
                    <i class="s-icon material-icons">search</i>
                  </div>

            </div>
            <div class="section table">

                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%" >
                  <thead>
                    <tr v-if="tableHeader">
                      <th v-for='h in tableHeader'>[{formatHeader(h)}]</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="data in filteredData">
                       <template>

                          <!-- <td v-for="header in tableHeader" ">[{data[[header]]}]</td> -->

                          <td v-for="header in tableHeader" >

                            <span v-if="header === 'admin'">
                              <i class="material-icons" v-if="data[header]">done</i>
                            </span>
                            <span v-else-if="header === 'read'">
                              <i class="material-icons" v-if="data[header]">done</i>
                            </span>
                            <span v-else-if="header === 'write'">
                              <i class="material-icons" v-if="data[header]">done</i>
                            </span>
                            <span v-else>
                              [{data[[header]]}]
                            </span>

                          </td>
                          <td ><i class="material-icons">delete</i></td>
                       </template >
                    </tr>
                  </tbody>
                </table>

            </div>

        </div>


        <!-- Enketo Dialog -->
<dialog id="addUser" class="mdl-dialog">

    <div v-show="!userAdded">
        <h6 class="mdl-dialog__title">
          <i class="material-icons">person_add</i> Add user
        </h6>
        <div class="mdl-dialog__content">
            <div class="search mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="username" v-model="newUser.username"
              pattern="[A-Z,a-z,0-9]*">
              <label class="mdl-textfield__label" for="username">username</label>
              <span class="mdl-textfield__error">Letters and spaces only</span>
            </div>
            <div class="search mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="password" v-model="newUser.password">
              <label class="mdl-textfield__label" for="password">password</label>
            </div>
            <div class="search mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="first_name" v-model="newUser.first_name">
              <label class="mdl-textfield__label" for="first_name">first name</label>
            </div>
            <div class="search mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="last_name" v-model="newUser.last_name">
              <label class="mdl-textfield__label" for="last_name">last name</label>
            </div>
            <div class="search mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="email" v-model="newUser.email">
              <label class="mdl-textfield__label" for="email">email</label>
            </div>

            <h5>Permissions:</h5>

            <div>

              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="admin" v-model="newUser.role">
                <span class="mdl-radio__label">System Admin</span>
              </label>
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="read"
                v-model="newUser.role">
                <span class="mdl-radio__label">Read & edit</span>
              </label>
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="write"
                v-model="newUser.role">
                <span class="mdl-radio__label">Read only</span>
              </label>

            </div>

        </div>
        <div class="mdl-dialog__actions">
            <a>
                <button type="button" class="mdl-button mdl-js-button" @click="createNewUser()"
                :disabled="!validateUserFrom">SUBMIT</button>
            </a>
            <button type="button" class="mdl-button mdl-js-button" @click="closeDialog()">CANCEL</button>
        </div>

    </div>
    <div v-show="userAdded">

      <h6 class="mdl-dialog__title">
          <i class="material-icons">person_add</i> Add user
        </h6>
        <div class="mdl-dialog__content">
          <p>The new user has been added.</p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button mdl-js-button closeDial" @click="closeDialog()">Close</button>
        </div>

    </div>




</dialog>


    </div>

</div>


<link rel="stylesheet" href="../css/users.scss">
<link rel="stylesheet" href="../css/dialog-polyfill.css">