.ui-textbox__label-text {
    color: #5a844e;
    font-size: 0.9375rem;
    line-height: normal;
    margin-bottom: 0;
    transform-origin: left;
    transition: color 0.1s ease, transform 0.2s ease;
}

.ui-textbox.is-active:not(.is-disabled) .ui-textbox__label-text,
  .ui-textbox.is-active:not(.is-disabled) .ui-textbox__icon-wrapper .ui-icon {
    color: #5a844e;
}
.ui-textbox.is-active:not(.is-disabled) .ui-textbox__input,
  .ui-textbox.is-active:not(.is-disabled) .ui-textbox__textarea {
    border-bottom-color: #5a844e;
    border-bottom-width: 2px;
}

.ui-fab {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}

.ui-fab:hover, body[modality="keyboard"] .ui-fab:focus {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.25), 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}

.ui-radio__inner-circle {
    left: 1px !important;
    top: 1px !important;
}

#usersPage .ui-textbox{
        width: 205px !important;
        float: left;
        margin-right: 30px;
    }

#useraccountPage .ui-textbox{
        width: 205px !important;
        float: left;
    }

#usersPage .ui-textbox__label-text{
    color: #9e9e9e;
}



#useraccountPage .ui-textbox__label-text{
    color: #9e9e9e;
}

.drop-element {
    width: 153px;
    top: 10px;
    margin-top: 8px;
}

.ui-fab--color-default .ui-fab__icon {
    color: #fff;
}

