  <header id="headerContainer" class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <div><a href="/omk/pages/forms/"><img id="omkLogo" src="../img/ic_omk_nobg-web.png"></a></div>
      <!-- Title -->
      <span class="mdl-layout-title"><a href="/omk/pages/forms/" class="pageTitle">{{ site.title }}</a></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <div v-if="auth.user.authenticated" v-cloak>
        <a href="/omk/pages/upload-form/" v-if="user.role === 'admin'">
          <button class="mdl-button mdl-button--colored">
            UPLOAD FORM
          </button>
        </a>

        <button class="mdl-button popover-trigger" id=""
                ref="dropdownTrigger"
                tabindex="0"
                v-if="auth.user.authenticated" v-cloak>
          <i class="material-icons">settings</i>
          <span style="text-transform: uppercase;">[{user.username}]</span>
        </button>

        <ui-popover trigger="dropdownTrigger" open-on="hover" ref="dropdown" v-if="auth.user.authenticated" v-cloak>
            <ui-menu
                contain-focus
                :options="menuOptions"
                @close="$refs.dropdown.close()"
                @select="selectedMenuOption"
            ></ui-menu>
        </ui-popover>

      </div>
    </div>
  </header>

