---
layout: default
jquery: jquery-2.1.1.min
datatable: jquery.datatables.min
datatable-material: datatables.material.min
csv: jquery.csv
index: index
omk: omk
controllerjs: submissions
auth: auth
mixins: header-mixin
---


<div class="page-content">

<div class="mdl-grid" >
        <div class="section">
                <a id="backLink" href="/omk/pages/forms/" class="backLink">
                    < Back to forms page
                </a>
            <!-- Mdl Card -->
            <div id="submissionCard" class="mdl-cell mdl-cell--12-col mdl-card wide-card mdl-shadow--0dp">
                <div class="mdl-cell--12-col mdl-card__title">
                    <h2 class="rows count mdl-card__title-text"></h2>
                </div>
            </div>
            <!-- Mdl Card -->
            <div id="submissionPagespinner" class="mdl-spinner mdl-js-spinner is-active"></div>
            <div id="alert" class=""></div>
        </div>

        <!-- <div class="section inputs" v-if="dataShowedUp">
                  <div class="search">
                  <ui-textbox
                      icon="search"
                      icon-position="right"
                      floating-label
                      label="Search"
                      placeholder="search user"
                      v-model="searchQuery"
                  ></ui-textbox>
                  </div>

            </div>
 -->

        <!-- <div class="section table" v-if="dataShowedUp">

                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%" >
                  <thead>
                    <tr>
                        <th>edit</th>
                        <th v-for='h in tableHeaders'>[{h}]</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="data in filteredData">
                       <template>

                          <td class="trashcan editButton">
                            <span v-if="isUserAuthorizedToEdit(data['meta.formId'])">
                              edit
                            </span>
                          </td>

                          <td v-for="header in tableHeaders">
                          [{data[[header]]}]
                          </td>
                       </template >
                    </tr>
                  </tbody>
                </table>

            </div>
 -->






    <div class="grid-lower">
        <section class="csv">
        <span class="label">List of submissions:</span>
            <div class="table rendered">
                <table id="submission-table"
                class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                </table>
            </div>

            <!-- <div class="areas">
                <textarea class="editing" readonly></textarea>
            </div> -->

        </section>
    </div>

    </div>
</div>

<!-- Enketo Dialog -->
<dialog id="enketo-dialog-submission" class="mdl-dialog">
    <h6 class="mdl-dialog__title">Enketo Express</h6>
    <div class="mdl-dialog__content">
        <p>Edit with Enketo Express</p>
    </div>
    <div class="mdl-dialog__actions">
        <a id="open-enketo-url-submission" href="#" target="_blank">
            <button type="button" class="mdl-button mdl-js-button">Open</button>
        </a>
        <button type="button" class="mdl-button mdl-js-button close">Close</button>
    </div>
</dialog>

<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<link rel="stylesheet" href="../css/submissions.css">
<link rel="stylesheet" href="../css/datatables.material.min.css">
