---
layout: default
controllerjs: login
auth: auth
mixins: header-mixin
---

<div class="page-content">
    <!-- MDL Progress Bar with Indeterminate Progress -->
    <div id="progressLoader" v-show="loading" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    <div class="mdl-grid">

        <!-- <div class="mdl-cell mdl-cell--4-col"></div> -->
        <div class="mdl-cell mdl-cell--4-col" style="margin: auto;">

            <h2>Login</h2>

              <ui-textbox
                  floating-label
                  label="Username"
                  placeholder="Enter your username"
                  v-model="credentials.username"
              ></ui-textbox>

              <ui-textbox
                  floating-label
                  label=Password
                  placeholder="Enter your password"
                  v-model="credentials.password"
                  @keyup.enter.native="submit()"
              ></ui-textbox>

            <div style="padding-top: 20px;">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" @click="submit()"
            :disabled="disabled">
              Log in
            </button>
            </div>

            <p class="authValidation" v-show="invalid" v-cloak>Invalid username or password</p>

        </div>

    </div>

</div>

<link rel="stylesheet" href="../css/forms.css">
<link rel="stylesheet" href="../css/dialog-polyfill.css">