---
layout: default
controllerjs: useraccount
auth: auth
mixins: header-mixin
---

<div class="page-content">

    <div id="userAccount">

        <div class="mdl-grid" >

            <a href="/omk/pages/forms/" class="backLink">
                < Back to forms page
            </a>
            <div class="section header">
                <h3>User Account</h3>
                <div class="editButotn" style="float: right;">
                  <!-- Colored FAB button -->
                  <button class="mdl-button mdl-js-button mdl-button--fab" v-if='!editMode' @click="toggleEditMode()">
                    <i class="material-icons">mode_edit</i>
                  </button>

                  <button class="mdl-button mdl-js-button mdl-button--fab" style="width: 100%;" v-else @click="updateUserDetails()">
                    Save
                  </button>

                </div>
            </div>
            <div class="section inputs" v-if="userDetails">

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" :class="{'is-focused' : isFocused}" style="float: left;">
                    <input class="mdl-textfield__input" type="text" id="first" :disabled="!editMode" v-model="userDetails.first_name">
                    <label class="mdl-textfield__label" for="first" v-if="userDetails.first_name.length == 0">First Name</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" :class="{'is-focused' : isFocused}" style="float: left; margin-left: 20px;">
                    <input class="mdl-textfield__input" type="text" id="last" :disabled="!editMode" v-model="userDetails.last_name">
                    <label class="mdl-textfield__label" for="last" v-if="userDetails.last_name.length == 0">Last name</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" :class="{'is-focused' : isFocused}" style="float: left; margin-left: 20px;">
                    <input class="mdl-textfield__input" type="email" id="email" :disabled="!editMode" v-model="userDetails.email" >
                    <label class="mdl-textfield__label" for="email" v-if="userDetails.email.length == 0">Email</label>
                  </div>

            </div>
            <div class="section">
              <span>List of survey forms this user is assigned to:</span>
              <button class="mdl-button mdl-button--colored mdl-js-button" id="menu-lower-left"
                @click="addUser()" style="float: right;">
                  <i class="material-icons">add</i> ADD FORM
                </button>
            </div>


            <div class="section table" v-if="userDetails">
              <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%" v-show="userDetails.formPermissions.length > 0">
                  <thead>
                    <tr >
                      <th>Form title</th>
                      <th>Sys admin</th>
                      <th>Reader</th>
                      <th>Writer</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(form, index) in userDetails.formPermissions">
                       <template>

                       <td>
                         [{form.form_id}]
                       </td>
                       <td>
                         <div v-show="!editMode">
                           <i class="material-icons" v-if="form.admin">done</i>
                         </div>
                         <div v-show="editMode">
                            <i class="material-icons" v-if="!form.admin" @click="setOthersToFalse(form, 'admin')">crop_3_2</i>
                            <i class="material-icons" v-if="form.admin" @click="setOthersToFalse(form, 'admin')">done</i>
                         </div>

                       </td>
                       <td>
                          <div v-show="!editMode">
                            <i class="material-icons" v-if="form.read">done</i>
                          </div>
                          <div v-show="editMode">
                            <i class="material-icons" v-if="!form.read" @click="setOthersToFalse(form, 'read')">crop_3_2</i>
                            <i class="material-icons" v-if="form.read" @click="setOthersToFalse(form, 'read')">done</i>
                          </div>

                       </td>
                       <td>
                          <div v-show="!editMode">
                            <i class="material-icons" v-if="form.write">done</i>
                          </div>
                          <div v-show="editMode">
                            <i class="material-icons" v-if="!form.write" @click="setOthersToFalse(form, 'write')">crop_3_2</i>
                            <i class="material-icons" v-if="form.write" @click="setOthersToFalse(form, 'write')">done</i>
                          </div>
                       </td>

                          <td ><i class="material-icons" @click="deleteDialog(form.form_id)" style="color:red;">delete</i></td>
                       </template >
                    </tr>
                  </tbody>
                </table>
            </div>


            <dialog id="addForm-dialog" class="mdl-dialog">

                  <div v-show="!formAdded">
                      <h6 class="mdl-dialog__title">
                        <i class="material-icons">add</i> Add form
                      </h6>
                      <div class="mdl-dialog__content">

                          <select v-model="selectedForm">
                            <option v-for="(form, index) in formList">[{form.form_id}]</option>
                          </select>

                          <h5>Permissions:</h5>

                          <div>

                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                              <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="admin" v-model="selectedFormRole">
                              <span class="mdl-radio__label">System Admin</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                              <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="read"
                              v-model="selectedFormRole">
                              <span class="mdl-radio__label">Read & edit</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                              <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="write"
                              v-model="selectedFormRole">
                              <span class="mdl-radio__label">Read only</span>
                            </label>

                          </div>

                      </div>
                      <div class="mdl-dialog__actions">
                          <a>
                              <button type="button" class="mdl-button mdl-js-button" @click="createNewFormAssignment()"
                              :disabled="!selectedForm">SUBMIT</button>
                          </a>
                          <button type="button" class="mdl-button mdl-js-button" @click="closeDialog()">CANCEL</button>
                      </div>

                  </div>
                  <div v-show="formAdded">

                    <h6 class="mdl-dialog__title">
                        <i class="material-icons">add</i> Added Form
                      </h6>
                      <div class="mdl-dialog__content">
                        <p>The new form has been added to user.</p>
                      </div>
                      <div class="mdl-dialog__actions">
                          <button type="button" class="mdl-button mdl-js-button closeDial" @click="closeDialog()">Close</button>
                      </div>

                  </div>

              </dialog>


        </div>

    </div>

</div>


<link rel="stylesheet" href="../css/dialog-polyfill.css">