---
layout: default
controllerjs: useraccount
auth: auth
mixins: header-mixin
---

<div class="page-content">

    <div id="userAccount">

        <div class="mdl-grid" >

            <a href="/omk/pages/forms/" class="backLink">
                < Back to forms page
            </a>
            <div class="editButotn" style="float: right;">

                  <ui-fab
                        icon="mode_edit"
                        size="normal"
                        class="save"
                        v-if='!editMode'
                        @click="toggleEditMode()"
                    ></ui-fab>

                    <ui-fab
                        icon="mode_edit"
                        size="normal"
                        class="save activeSave"
                        v-else
                        @click="updateUserDetails()"
                    >save</ui-fab>

                </div>
            <div class="section header">
                <h3>My Account</h3>
            </div>
            <div class="section inputs" v-if="userDetails">
                  <ui-textbox
                      label="First Name"
                      placeholder="Enter your first name"
                      :value="ifNullReturnEmptyString(userDetails.first_name)"
                      v-model="userDetails.first_name"
                      style="float: left;"
                      :disabled="!editMode"
                      :class="{'is-active' : isFocused}"
                  ></ui-textbox>
                  <ui-textbox
                      label="Last Name"
                      placeholder="Enter your last name"
                      :value="ifNullReturnEmptyString(userDetails.last_name)"
                      v-model="userDetails.last_name"
                      style="float: left; margin-left: 30px;"
                      :disabled="!editMode"
                      :class="{'is-active' : isFocused}"
                  ></ui-textbox>
                  <ui-textbox
                      label="Email"
                      placeholder="Enter your email address"
                      :value="ifNullReturnEmptyString(userDetails.email)"
                      v-model="userDetails.email"
                      style="float: left; margin-left: 30px;"
                      :disabled="!editMode"
                      :class="{'is-active' : isFocused}"
                  ></ui-textbox>

            </div>
            <div class="section" v-cloak>
            <div>
            <h3 style="margin-bottom: 35px;">Forms:</h3>
            </div>
              <span style="font-weight: 200; color: #2e2e2e;">List of survey forms this user is assigned to:</span>
              <button class="mdl-button mdl-button--colored mdl-js-button addForm" id="menu-lower-left"
                @click="addUser()"
                style="float: right;"
                v-if="user.role !== 'admin'">
                  <i class="material-icons">add</i> ADD FORM
                </button>
            </div>


            <div class="section table" v-cloak v-if="userDetails">
              <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%" v-show="userDetails.formPermissions.length > 0">
                  <thead>
                    <tr >
                      <th>Form title</th>
                      <th>Admin</th>
                      <th>Write</th>
                      <th>Read</th>
                      <th v-show="user.role !== 'admin' && user.role !== 'read' && editMode"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(form, index) in orderedFormPermissions">
                       <template>

                       <td>
                         [{form.form_id}]
                       </td>
                       <td>
                          <div v-if="user.role === 'admin' || user.role === 'read' || !editMode">
                           <i class="material-icons" v-if="form.role === 'admin'">done</i>
                          </div>

                          <div v-else>
                            <i class="material-icons" v-if="form.role === 'admin'" @click="setOthersToFalse(form, 'admin')">check_box</i>
                            <i class="material-icons" v-else @click="setOthersToFalse(form, 'admin')">check_box_outline_blank</i>
                          </div>
                       </td>
                       <td>
                          <div v-if="user.role === 'admin' || user.role === 'read' || !editMode">
                            <i class="material-icons" v-if="form.role === 'write'">done</i>
                          </div>
                          <div v-else>

                            <i class="material-icons" v-if="form.role === 'write'" @click="setOthersToFalse(form, 'write')">check_box</i>
                            <i class="material-icons" v-else @click="setOthersToFalse(form, 'write')">check_box_outline_blank</i>
                          </div>
                       </td>
                       <td>
                          <div v-if="user.role === 'admin'  || user.role === 'read'|| !editMode">
                            <i class="material-icons" v-if="form.role === 'read'">done</i>
                          </div>
                          <div v-else>

                            <i class="material-icons" v-if="form.role === 'read'" @click="setOthersToFalse(form, 'read')">check_box</i>
                            <i class="material-icons" v-else @click="setOthersToFalse(form, 'read')">check_box_outline_blank</i>
                          </div>

                       </td>

                        <td class="trashcan" v-show="user.role !== 'admin' && user.role !== 'read' && editMode">
                        <i class="material-icons" @click="deleteDialog(form)">delete</i>
                        </td>

                       </template >
                    </tr>
                  </tbody>
                </table>
            </div>


            <dialog id="addForm-dialog" class="mdl-dialog">

                  <div v-show="!formAdded">
                      <h6 class="mdl-dialog__title">
                        <i class="material-icons">add</i> Add form
                      </h6>
                      <div class="mdl-dialog__content">
                          <ui-select
                              label="Forms:"
                              placeholder="Select a form"
                              :options="formList"
                              v-model="selectedForm"
                              :keys="{ label: 'form_id', value: 'form.form_id' }"
                          ></ui-select>

                          <div class="perm">Permissions:</div>

                          <div>

                          <ui-radio-group
                              name="options"
                              vertical
                              :options="formOptions"
                              v-model="selectedFormRole"
                          ></ui-radio-group>



                          </div>

                      </div>
                      <div class="mdl-dialog__actions">
                          <a>
                              <button type="button" class="mdl-button mdl-js-button modalButton" @click="createNewFormAssignment()"
                              :disabled="!selectedForm">SUBMIT</button>
                          </a>
                          <button type="button" class="mdl-button mdl-js-button modalButton" @click="closeDialog()">CANCEL</button>
                      </div>

                  </div>
                  <div v-show="formAdded">

                    <h6 class="mdl-dialog__title">
                        <i class="material-icons">add</i> Added Form
                      </h6>
                      <div class="mdl-dialog__content">
                        <p>The new form has been added to user.</p>
                      </div>
                      <div class="mdl-dialog__actions">
                          <button type="button" class="mdl-button mdl-js-button modalButton" @click="closeDialog()">Close</button>
                      </div>

                  </div>

              </dialog>
              <dialog id="deleteForm-dialog" class="mdl-dialog">
                  <div v-if="userDetails != null">
                      <h6 class="mdl-dialog__title">
                        <!-- <i class="material-icons">minus</i>  -->
                        Delete form:
                      </h6>

                      <div class="mdl-dialog__content">
                      <span style="font-size: 18px;">[{selectedForm.form_id}]</span>
                      </div>
                      <div class="mdl-dialog__actions">
                          <button type="button" class="mdl-button mdl-js-button modalButton" @click="deleteFormAssigment()"
                          >YES</button>
                          <button type="button" class="mdl-button mdl-js-button modalButton" @click="closeDeleteDialog()">CANCEL</button>
                      </div>

                  </div>

              </dialog>


        </div>

    </div>

</div>


<link rel="stylesheet" href="../css/dialog-polyfill.css">